{% extends 'league/base.html' %}

{% block stylez %}
	<style>
		.vertical-center {
			/* source: http://stackoverflow.com/questions/22196587/ */
			min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
			min-height: 100vh; /* These two lines are counted as one :-)       */
			display: flex;
			align-items: center;
		}
	</style>
{% endblock %}

{% block lolpage %}
	{% if champ_list %}
		<div class="container">
		<div class="row">
			{% for champ in champ_list %}
				<div class="col-lg-2 col-md-4 col-xs-6 thumb">
					<a href="/league/champions/{{ champ.id }}/"><img class="center-block" src={{ base_url}}{{ champ.image.get }}></br><div class="text-center">{{champ.name}}</div></a>
				</div>
			{% endfor %}
		</div>
		</div>
	{% else %}
		<p>There are no champs</p>
	{% endif %}
{% endblock %}