{% extends 'league/base.html' %}

{% block stylez %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable({{ hp_table|safe }});
			var options = {
				title: 'Health',
				curveType: 'function',
				legend: { position: 'bottom' }
			};
			var chart = new google.visualization.LineChart(document.getElementById('hp_chart'));
			chart.draw(data, options);
		}
	</script>
{% endblock %}


{% block page_title %}

		<div class="col-md-12">
			<div class="img-responsive" style="float:left">
				<img src={{ base_url}}{{ champ.image.get }}>
			</div>
			<div class="col-md-10 col-xs-8">
				<H1 style="margin-top:10px;">{{ champ.name }}</br><small> {{ champ.title }}</small></H1>	
			</div>
		</div>
{% endblock %}


{% block lolpage %}

	<div class="row">
		{% autoescape off %}
			{{ champ.lore  }}
		{% endautoescape %}
	</div>

	<div class="row">

		<div class="col-lg-6">
			<H3>Ally Tips</H3>
			<ul>
				{% for tip in champ.allytips %}
					<li> {{ tip }} </li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-lg-6">
			<H3>Enemy Tips</H3>
			<ul>
				{% for tip in champ.enemytips %}
					<li> {{ tip }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="row">
		<H3>Champion Statistics</H3>
		<div class="col-lg-4 col-md-6">
			<div class="panel">
				<div id="hp_chart"></div>
			</div>
		</div>
	</div>
	<ul>
		{% for stat, value in champ.stats.items %}
			<li> {{ stat }} -- {{ value }}</li>
		{% endfor %}	
	</ul>

{% endblock %}