{% extends 'league/base.html' %}

{% block stylez %}
	<script src="http://code.highcharts.com/highcharts.js"></script>

{% endblock %}



{% block page_title %}
<div class="col-lg-12">
	<div id="champ_skins_splash" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for skin in champ.skins.all %}
			<li data-target="#champ_skins_splash" data-slide-to="{{skin.num}}"></li>
			{% endfor %}
		</ol>

		<div class="carousel-inner" role="listbox">
			{% for skin in champ.skins.all %}
			<div class="item{% if skin.num == 0 %} active{% endif %}">
				<img src="{{ skin }}" class="img-responsive center-block" style="padding: 10px">
			</div>
			{% endfor %}
		</div>

		<a class="left carousel-control" href="#champ_skins_splash" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#champ_skins_splash" role="button" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>		
	</div>
</div>

<div class="col-lg-12">
	<img style="float:left; padding-right:5px;" src={{ base_url}}{{ champ.image.get }}>
	<H1 style="padding-top:10px">{{ champ.name }}</br><small> {{ champ.title }}</small></H1>
</div>

{% endblock %}


{% block content %}
<div class="col-lg-12">
	<ul class="nav nav-tabs" id="champion-info">
		<li class="nav-item active">
			<a class="nav-link" data-toggle="tab" href="#Lore" role="tab" aria-controls="Lore">Lore</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#Tips" role="tab" aria-controls="Tips">Tips</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#Statistics" role="tab" aria-controls="Statistics">Statistics</a>
		</li>
	</ul>




	<div class="tab-content">
		<div class="tab-pane active" id="Lore" role="tabpanel">
				{% autoescape off %}
					{{ champ.lore  }}
				{% endautoescape %}
		</div>

		<div class="tab-pane" id="Tips" role="tabpanel">

			<div class="col-lg-6">
				<H3>Ally Tips</H3>
				<ul>
					{% for tip in champ.allytips %}
						<li> {{ tip }} </li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-lg-6">
				<H3>Enemy Tips</H3>
				<ul>
					{% for tip in champ.enemytips %}
						<li> {{ tip }} </li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="tab-pane" id="Statistics" role="tabpanel">

			<ul class="nav nav-tabs" id="statChartTab">
			{% for chart in stat_charts %}
				<li class="nav-item{% if stat_charts.0 == chart %} active{% endif %}">
					<a class="nav-link" data-toggle="tab" href="#{{ chart.get_options.title }}" role="tab" aria-controls="{{chart.get_options.title}}">{{ chart.get_options.title }}</a>
				</li>
			{% endfor %}
			</ul>

			<div class="tab-content">
			{% for chart in stat_charts %}
				<div class="tab-pane{% if stat_charts.0 == chart %} active{% endif %}" id="{{ chart.get_options.title }}" role="tabpanel">
					{{ chart.as_html }}
				</div>	
			{% endfor %}
			</div>
		</div>

	</div>

</div>

{% endblock %}
